/* coding.css */

.works_coding {}
.works_coding .view_area {border: none; width: 45%;}

.wire_iMac {
    position: absolute;
    top: 0%;
    left: -10%;
    
    width: 100%;
    height: 100%;
    transform:scale(0.9) ;


    background: url("../img/wire_iMac.png") no-repeat 0 0;
    background-size: cover;
    }
.wire_iPad {
    position: absolute;
    top: 0%;
    left: -40%;
    
    width: 664px;
    height: 902px;

    border-radius: 50px;
    transform:scale(0.5) ;

    background: url("../img/wire_iPad.png") no-repeat 0 0;
    background-size: cover;
    }
.wire_iPhone {
    position: absolute;
    top: 25%;
    left: 60%;
    
    width: 381px;
    height: 674px;
    transform:scale(0.45) ;


    background: url("../img/wire_iPhone.png") no-repeat 0 0;
    background-size: cover;
    }

.samsung .wire_iMac:nth-of-type(2) {
    top: 25%;
    left: -40%;
    transform: scale(0.4);
}
.samsung .wire_iMac:nth-of-type(3) {
    top: 25%;
    left: 20%;
    transform: scale(0.4);
}

.iMac_monitor {
overflow: hidden;

    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);

    width: 91%;
    height: 68%;
}
.iMac_monitor_small {
    overflow: hidden;

    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);

    width: 91%;
    height: 67%;

}

.iPad_monitor {
    overflow: hidden;

    position: absolute;
    left: 50%;
    top: 8%;
    transform: translateX(-50%);

    width: 87%;
    height: 84%;
}
.iPhone_monitor {
    overflow: hidden;

    position: absolute;
    left: 49%;
    top: 2%;
    transform: translateX(-50%);

    width: 80%;
    height: 95%;
    border-radius: 8.5%;
}

.iPhone_status {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);

    width: 166px;
    height: 24px;
    background: url("../img/iPhone_status.png") no-repeat 0 0;

}

.page_samsung_main {
    position: absolute;
    top: 0%;
    left: 0%;
    
    width: 100%;
    height: 100%;
    transform:scale(1.02) translateX(4px);

    background: url("../img/page_samsung_main.png") no-repeat 0 0;
    background-size: cover;

    animation: pageScroll 7s ease-in-out infinite alternate 0s;
}

@keyframes pageScroll {
0%,10% {background-position-y: 0;}
90%,100% {background-position-y: 100%}

}

.page_samsung_sub1 {
    position: absolute;
    top: 0%;
    left: 0%;
    
    width: 100%;
    height: 100%;
    transform:scale(1.02) translateX(4px);

    background: url("../img/page_samsung_sub1.png") no-repeat 0 0;
    background-size: cover;

    animation: pageScroll 7s ease-in-out infinite alternate 0s;
    }



.page_samsung_sub2 {
    position: absolute;
    top: 0%;
    left: 0%;
    
    width: 100%;
    height: 100%;
    transform:scale(1.02) translateX(4px);

    background: url("../img/page_samsung_sub2.png") no-repeat 0 0;
    background-size: cover;

    animation: pageScroll 7s ease-in-out infinite alternate 0s;
}


.page_cjone_pc {
    position: absolute;
    top: 0%;
    left: 0%;
    
    width: 100%;
    height: 100%;
    transform:scale(1);


    background: url("../img/page_cjone_pc.png") no-repeat 0 0;
    background-size: cover;

    animation: pageScroll 7s infinite alternate 0s;
}


.page_cjone_tab {
    position: absolute;
    top: 0%;
    left: 0%;
    
    width: 100%;
    height: 100%;
    transform:scale(1) ;

    background: url("../img/page_cjone_tab.png") no-repeat 0 0;
    background-size: cover;

    animation: pageScroll 7s infinite alternate 0s;
}
.page_cjone_mob {
    position: absolute;
    top: 0%;
    left: 0%;
    
    width: 100%;
    height: 100%;
    transform:scale(1);

    background: url("../img/page_cjone_mob.png") no-repeat 0 0;
    background-size: cover;

    animation: pageScroll 7s infinite alternate 0s;
}

.page_webs_main {

    position: absolute;
    top: 0%;
    left: 0%;
    
    width: 100%;
    height: 100%;
    transform:scale(1);

    background: url("../img/page_webs_pc.png") no-repeat 0 0;
    background-size: cover;

    animation: pageScroll 5s infinite alternate 0s;
}
.kakao .wire_iPhone,
.instagram .wire_iPhone {
    top: 0; left: 0;
    transform: scale(1);
}

.page_instagram {
    position: absolute;
    top: 0%;
    left: 0%;
    
    width: 100%;
    height: 100%;
    transform:scale(1);

    background: url("../img/page_instagram.png") no-repeat 0 0;
    background-size: cover;

    animation: pageScroll 5s infinite alternate 0s;

}

.page_kakao_tab1 {top: -15px;}



.arrow {
    z-index: 10;
    font-size: 2rem;
    width: 82%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);

    /*border: 1px solid red;*/
}
.arrow .btn_prev {float: left;}
.arrow .btn_next {float: right; margin-right: -110px;}