/* design.css */

.appDsg {}
.appDsg .view_area {
    right: 10%;
    background: url("../img/img_alarmmap.jpg") no-repeat -0px -0px;
    background-size: 100%;
}

.appDsg .view_area .order {
    right: -18%;
}

.webDsg .view_area {
    right: 10%;
    background: url("../img/img_cube.png") no-repeat 0 0;
    background-size: 100%;
}

.webDsg .view_area .order {
    right: -18%;
}