/* global.css */
html {font-size: 30px; /*rem*/}
body {
    /* font-family: 'Nanum Gothic', sans-serif; */
    /* font-family: 'Sunflower', sans-serif; */
    /* font-family: 'Noto Sans KR', sans-serif; Light, Medium, Black */
    
    font-family: 'Josefin Sans', 'Noto Sans KR', sans-serif;
    color: #fff;
    letter-spacing: -0.5px;
    box-sizing: border-box;
    /* 스크롤바 삭제 */
    overflow: hidden;

    
}
a,a:hover {text-decoration: none; color: #fff;}
p.desc {font-weight: 400; font-size: 0.9rem;}

.btn_more {
    display: inline-block;

    border-radius: 15px;
    padding: 12px 20px;
    background: #3a9b22;

    transition: all 0.7s ease-in-out 0s;
}

.btn_more:hover {box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.5);}