/* home.css */
/* home.css */

section.home {}

section.home .view_area {
    border: none;
    border-left: 10px dashed rgba(255, 255, 255, 0.6);
    overflow: hidden;
    
    position: absolute !important;
    
    top: 25% !important;
    right: 1% !important; /*킥보드 영역만 right값이 다르게*/
    transform: translateY(-25%) !important;
    
    width: 120vh !important;
    height: 100vh !important;

    
    
    
    
}

.kickboard_area {
    z-index: 2;
    position: absolute;
    top: 5%;
    -webkit-transition: all 2500ms cubic-bezier(0.035, 0.350, 0.165, 0.925);
    -moz-transition: all 2500ms cubic-bezier(0.035, 0.350, 0.165, 0.925);
      -o-transition: all 2500ms cubic-bezier(0.035, 0.350, 0.165, 0.925);
         transition: all 2500ms cubic-bezier(0.035, 0.350, 0.165, 0.925); /* custom */
    
}
/* 부스터 발동시*/
.kickboard_area.on {transform: scale(0.5);}
.kickboard_area.on .tires {animation-duration: 0.1s;}

/*킥보드 본체*/
section.home .kickboard {


    top: 25%;
    transform: translateY(-0%);

    width: 120vh !important;
    height: 100vh !important;
    
    background: url("../img/wire.png") no-repeat 30% 50% !important;
    background-size: 50% !important;

    animation: viv .5s linear infinite;

}

@keyframes viv {
    0% {transform: translateY(0%);}
    25% {transform: translateY(-0.9%)}
    25.001% {transform: translateY(-0.9%);}
    50% {transform: translateY(0%);}
    75% {transform: translateY(0%)}
    100% {transform: translateY(0%);}
}

/* 타이어 공통 */
.tires {
    z-index: -1;
    position: absolute ;
    top: 60%;
    width: 16vh;
    height: 16vh;
    
    background: url("../img/tire.png") no-repeat 0 0;
    background-size: 100.555% !important;

    transform: scale(0.9) !important;

    animation: wheel .4s infinite linear 0s;
}

/* 타이어_전륜 */
.tire_1 {left: 14.5%;}

/* 타이어_후륜 */
.tire_2 {left: 49%;}

@keyframes wheel {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/* 이것은 .view_area(킥보드본체) > 의 하위입니다.*/
.speeds {
    position: absolute;

    content: '';
    display: block;
    background: url("../img/speed_1.png") no-repeat 0 0;


    width: 1002px;
    height: 383px;

    animation: speed 1s linear infinite;

    -webkit-transition: all 5000ms cubic-bezier(0.035, 0.350, 0.165, 0.925);
    -moz-transition: all 5000ms cubic-bezier(0.035, 0.350, 0.165, 0.925);
      -o-transition: all 5000ms cubic-bezier(0.035, 0.350, 0.165, 0.925);
         transition: all 5000ms cubic-bezier(0.035, 0.350, 0.165, 0.925); /* custom */
}
/* 구름(speed) 공통 */
.speed_1  {
    z-index: 1;

    /* top: 10%; js 모션 넣은 후로 아래처럼 px로 바꿔주었다. js에서는 %를 인지 못하는 듯 */
    top: 40px;
    left: -50%;

    transform: scale(0.2);

    animation-duration: 8s;
    animation-delay: 0s;
    background-image: url("../img/speed_small.png");
    
}

.speed_2  {
    z-index: -1;

    /* top: 35%; */
    top: 340px;
    left: -100%;
    
    transform: scale(0.3);
    
    animation-duration: 5.5s;
    animation-delay: 0s;
    background-image: url("../img/speed_mid.png");
    
}

.speed_3  {
    z-index: 2;

    /* top: 40%; */
    top: 500px;
    left: 0%;
    
    transform: scale(0.9);

    animation-name: speed3;
    animation-duration: 5s;
    animation-delay: 0s;

    background-image: url("../img/speed_1.png");

}

@keyframes speed {
    0% {left: 100%; opacity: 1;}
    100% {left: -120%; opacity: 1;}
}
@keyframes speed3 {
    0% {left: 160%; opacity: 1;}
    20% {opacity: 1;}
    90%,100% {left: -500%;}
}

/*부스터 발동시 (구름)*/
.speed_1.on {animation-duration: 2s;}
.speed_2.on {animation-duration: 1.2s;}
.speed_3.on {animation-duration: 0.7s;}