/* layout.css */

#wrap {
    background: #4769a7;
    background-size: 100%;               /*home*/
    transition: background 1s linear 0s;
    }

#wrap.color1 {background: #4769a7 url("");} /*skills*/
#wrap.color2 {background: #4769a7 url("");} /*coding*/
#wrap.color3 {background: #4769a7 url("");} /*dsgn*/
#wrap.color4 {background: #4769a7 url("");} /*contact*/

header {
    position: fixed;
    width: 100%;
    z-index: 50;
    }

    .header_inner {
        display: flex;
        padding-top: 35px;
        justify-content: space-between;
        width: 100%;
    }
    .header_inner h1 {}
    .header_inner h1 a {display: flex; margin-left: 50px; font-size: 1.9rem;
                        transition: all 0.4s ease-in-out 0s;}
    .header_inner h1 a:hover {transform: rotateZ(90deg);}

    .header_right_wrap {display: flex; margin-right: 50px;}
        .sns_area {margin-right: 20px; margin-right: 80px;}
        .sns_area li {float: left; margin-left: 35px; transition: all 0.4s ease-in-out 0s;}
        .sns_area li a{transition: all 0.4s ease-in-out 0s;}
        .sns_area li a:hover {opacity: 0.5;}
        .btn_hamberger {width: 24px; height: 24px; z-index: 1000;}





#containter {}
#containter > section {
    /* border: 5px solid red; */
    width: 100%;
    margin: 0 auto;
}
/* #containter > section > h2 {
    font-size: 0.5rem;
    opacity: 1.0;
    position: absolute;
    top: 20%; left: calc(1%);
    transform: rotate(90deg);} */

#containter > section > article {
    /* border: 1px solid cyan; */
    position: relative;
    box-sizing: border-box;
    height: calc(100vh);
}

.text_wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);


    margin-left: 10%;
    padding: 3%;
    }



.text_wrap > h3 {font-size: 5.0rem; font-weight: medium;}
.text_wrap > h3 > .type {position: absolute; font-size: 1.2rem; top: -3%;}
.text_wrap > .divLine {
                        background: url("../img/line_wind.png") no-repeat 0 0;
    
                        
                        width: 930px; height: 141.01086124676px;
                        transform: scale(0.25);
                        margin:-32px 0 -14px -350px;
                        }
.text_wrap > .desc_area {}
#section5 .text_wrap {
    border-radius: 70px;
    box-shadow: 45px 45px 10px rgba(0, 0, 0, 0.1);
}
.text_wrap > .desc_area > .desc {}

.view_area {
    position: absolute;
    top: 50%;
    right: 5%;

    transform: translateY(-50%);

    width: 50%;
    height: 70%;

    margin: 0 2% 0 auto;

    /* border: 1px solid rgba(255, 255, 255, 0.5); */

    box-sizing: border-box;
}

.view_area > .order {
    position: absolute;
    bottom: 2%;
    right: -10%;

    font-size: 5rem;
}

/* 가로 구현 */
.works_coding {position: relative; width: 100vh; height: 100vh;}

    .samsung {position: absolute !important; left: 0; top: 0; width: 100%; height: 100vh;}
    .cjone {position: absolute !important; left: 100%; width: 100%; height: 100vh;}
    .webstandard {position: absolute !important; left: 200%; width: 100%; height: 100vh;}
    .instagram {position: absolute !important; left: 300%; width: 100%; height: 100vh;}
    .kakao {position: absolute !important; left: 400%; width: 100%; height: 100vh;}


.works_design {position: relative; width: 100vh; height: 100vh;}
    .appDsg {position: absolute !important; left: 0; top: 0; width: 100%; height: 100vh;}
    .webDsg {position: absolute !important; left: 100%; width: 100%; height: 100vh;}
    .cssDsg {position: absolute !important; left: 200%; width: 100%; height: 100vh;}

/*기차*/
#train_1, #train_2 {
    position: absolute;
    width: 100%;
    height: 100vh;
}