/* loading.css */

/* 로딩페이지 */
.progress {z-index: 9999; background: url("../img/loading_layout.png") no-repeat 0 0;
        background-position: top right;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
}        
/* .loading-tire {
background: url("../img/tire_x2.png");
width: 285px;
height: 285px;

animation: loading-tire .5s linear infinite 0s;
} */

/* @keyframes loading-tire {
        0% {transform: rotate(0);}
        100% {transform: rotate(360deg);}
} */


.progress-bar {position: absolute; left: 0; top: 50%; transform: translateY(-50%);
        box-sizing: border-box;
        height: 24px;
        width: 0%; 
        background: #fff;
        border-radius: 50px;
}
.progress-text {position: absolute; top: 50%; transform: translateY(-50%); width: 100%;
        font-family: "Josefin Sans"; font-size: 5rem; text-align: center;}

.progress-notice {
        position: absolute;
        left: 50%;
        top: 60%;

        transform: translateX(-50%);
        animation: notice 1s ease-in-out 1s forwards;
}
        
.progress-complete .progress-bar {background: #DE0000;}
.progress.progress-complete {
        color: #fff;
        animation: screen 1s ease-in-out 1s;
}

@keyframes screen {
        0% {width:100%; opacity: 1;}
        100% {width:0%; opacity: 0;}
}
@keyframes notice {
        0% {opacity: 1;}
        90%,100% {opacity: 0;}
}